# Mongo URL
MONGO_URL=

# Resend Email API Key
RESEND_API_KEY=

# Google OAuth ID & SECRET
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth SECRET
NEXTAUTH_SECRET=

# Next URL
NEXTAUTH_URL=

# GEMINI API KEY